altgraph==0.17.2
asgiref==3.6.0
async-generator==1.10
attrs==21.2.0
autopep8==2.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
chromedriver-autoinstaller==0.2.2
cryptography==36.0.0
Django==4.1.5
future==0.18.2
h11==0.12.0
idna==3.3
mysqlclient==2.1.1
outcome==1.1.0
pefile==2021.9.3
pycodestyle==2.10.0
pycparser==2.21
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pyOpenSSL==21.0.0
pyperclip==1.8.2
pywin32-ctypes==0.2.0
requests==2.27.1
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.4.3
tomli==2.0.1
trio==0.19.0
trio-websocket==0.9.2
tzdata==2022.7
urllib3==1.26.7
websockets==10.2
wsproto==1.0.0
